*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  min-height:100vh;
  background-color:#e3f2fd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion{
  max-width:530px;
  width:100%;
  background:#fff;
  margin:0 15px;
  padding:15px;
  border-radius:8px;
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}
.accordion .accordion-content{
  background:#fff7f0;
  border:1px solid #ffd6b3;
  border-radius:4px;
  margin:10px 0;
  overflow:hidden;
}
.accordion-content header{
  min-height:50px;
  display:flex;
  padding:0 15px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.accordion-content header .title{
  font-size:14px;
  font-weight: 500;
  color:#333;
}
.accordion-content header i{
  font-size:14px;
  color:#333;
}
.accordion-content .description{
  height:0;
  font-size:12px;
  color:#333;
  transition:all 0.3s ease;
  font-size: 12px;
  padding:0 15px;
}
