*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  min-height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background: #010718;
}
.container{
  width:245px;
  overflow: hidden;
}
.container .text{
  position:relative;
  color:#4070f4;
  margin-left:10px;
  font-size:30px;
  font-weight:600;
}
.container .first-text{
  color:#fff;
}
.container .sec-text:before{
  content:'';
  position:absolute;
  top:0;
  left: 0;
  height:100%;
  width: 100%;
  background-color:#010718;
  border-left:2px solid #4070f4;
  animation:animate 4s steps(12) infinite;
}
@keyframes animate {
  40%,60%{
   left: calc(100% + 4px);
  }
  100%{
    left: 0%;
  }
}