*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #927dfc;
}
.wrapper{
  position:relative;
  max-width:300px;
  width:100%;
  background:#fff;
  border-radius:12px;
  padding:30px 25px;
  box-shadow:0 5px 10px rgba(0,0,0,0.1);
}
.wrapper .password-box{
  position:relative;
  height:55px;
}
.password-box input{
  width:100%;
  height: 100%;
  border-radius:8px;
  padding:0 45px 0 15px;
  border:1px solid #aaa;
}
.password-box .copy-icon{
 position:absolute;
 right:15px;
 top:50%;
 font-size:20px;
 color:#707070;
 cursor:pointer;
 transform:translateY(-50%);
}
.copy-icon:hover{
  color: #826afb;
}
.wrapper .range-box{
  display:flex;
  align-items:center;
  margin-top:20px;
}
.range-box input{
  width:100%;
  height:5px;
  cursor:pointer;
  accent-color:#826afb;
}
.range-box .slider-number{
  min-width:30px;
  text-align:center;
  font-size: 17px;
  color:#707070;
}
.wrapper .generate-button{
  width:100%;
  padding:12px;
  margin-top:20px;
  background:#927dfc;
  border:none;
  border-radius:8px;
  color:#fff;
  font-weight:500;
  font-size:18px;
  cursor:pointer;
  transition:all 0.3s ease;
}
.generate-button:hover{
  background-color: #6049cf;

}