*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d2ae8;
}
.container{
  background: #fff;
  border-radius:8px;
  width:420px;
  display:flex;
  padding:50px 0;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
}
.circular-progress{
  position:relative;
  height:250px;
  width: 250px;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:conic-gradient(#7d2ae8 3.6deg,#ededed 0deg);
}
.circular-progress::before{
  content: '';
  position:absolute;
  height: 210px;
  width: 210px;
  background-color: #fff;
  border-radius: 50%;
}
.progress-value{
  position:relative;
  font-size: 40px;
  font-weight:600;
  color:#7d2ae8
}
.text{
  font-size: 30px;
  font-weight: 500;
  color:#606060;
}