*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  display: flex;
  min-height:100vh;
  background-color: #30485f;
  justify-content: center;
  align-items: center; 
  padding: 20px;
}
.wrapper{

  background:#fff;
  padding:25px;
  max-width: 450px;
  width:100%;
  border-radius:3px;
}
.wrapper .item{
  background:#30485f;
  color:#fff;
  display: flex;
  padding:12px 17px;
  margin-bottom:8px;
  align-items:center;
  border-radius: 3px;
  justify-content: space-between;
}
.wrapper .item .text{
  font-size:18px;
  font-weight: 400;
}
.wrapper .item i{
  font-size:18px;
  cursor: pointer;
}