*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
}
.container{
  height:350px;
  width:430px;
}
.container .wrapper{
  height:300px;
  width: 100%;
  position: relative;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px dashed #c2cdda;
}
.wrapper .image{
  position:absolute;
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .image img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.wrapper .icon{
  font-size: 100px;
  color: #9658fe; 
}
.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color:#585878;
}
.wrapper #cancel-btn{
  position:absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  color:#9658fe;
  display:none ;
}
.wrapper .file-name{
position: absolute;
bottom:0px;
width: 100%;
color: #fff;
padding:8px 0;
background:linear-gradient(to right, #9658fe,#c766df,#3c64dd);
}
.container #custom-btn{
  margin-top: 30px;
  width: 100%;
  display: block;
  border: none;
  height: 50px;
  border-radius: 25px;
  outline: none;
  color: #fff;
  font-size:14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background:linear-gradient(to right, #9658fe,#c766df,#3c64dd);
}