*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
 padding: 0 30px;
}
#src-btn, .screenshot{
 position:fixed;
  left: 50%;
   transform:translate(-50%,-50%);
}
#src-btn{ 
  bottom: 15px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 15px 25px;
  border-radius: 30px;
  background: #4a98f7;
  transition: all 0.3 ease;
 
}
.src-preview{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width:100%;
  background: rgba(0,0,0,0.65);
}
.src-preview .screenshot{
  top: 50%;
  width:70%;
  aspect-ratio: 16 / 9;
}
.screenshot img{
  width: 100%;
}