*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  display: flex;
  min-height:100vh;
  align-items:center;
  justify-content:center;
  background: #4070f4;
}
:where(.container,form,.input-filed,header){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.container{
 background:#fff;
 padding:30px;
 border-radius:12px;
 box-shadow:0 5px 10px rgba(0,0,0,0.1);
}
.container header{
  height: 65px;
  width: 65px;
  background: #4070f4;
  color:#fff;
  font-size:2.5rem;
  border-radius:50%;
}
.container h4{
  font-size:1.25rem;
  color:#333;
  font-weight: 500;
}
form .input-field{
  column-gap:30px ;
}
.input-field input{
  height:45px;
  width: 45px;
  border-radius:6px;
  outline:none;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button{
  display: none;
}
form button{
  margin-top:25px;
  width:100%;
  background:#4070f4;
  color:#fff;
  font-size:1rem;
  border:none;
  padding:9px 0;
  border-radius:6px;
  cursor:pointer;
  background:#6e93f7;
  pointer-events: none;
  transition:all 0.3s ease;
}
form button.active{
  background:#4070f4;
  pointer-events: auto;
}
form button:hover{
  background: #0e4bf1;
}