* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3f2fd;
}

.container {
  position: relative;
  max-width: 480px;
  width: 100%;
  border-radius: 8px;
  padding: 25px;
  margin: 85px auto 0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .input-field {
  position: relative;
  height: 64px;
  width: 100%;
}

.input-field textarea {
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 18px 45px 18px 15px;
  font-weight: 400;
  font-size: 18px;
  outline: none;
  resize: none;
}

textarea::-webkit-scrollar {
  display: none;

}

.input-field textarea:focus {
  border-color: #4070f4;
}

.input-field .note-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 24px;
  color: #707070;
}

.input-field textarea:focus~.note-icon {
  color: #4070f4;
}

.container .todolists {
  max-height: 380px;
  overflow-y: auto;
  margin-top: 20px;
  padding-right: 10px;
}

.todolists .list {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #f2f2f2;
  padding: 20px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}

.todolists .list .task {
  margin: 0 30px 0 15px;
  word-break: break-all;
}

.todolists .list input {
  height: 16px;
  min-width: 16px;
  accent-color: #4070f4;
  cursor: pointer;
  pointer-events: none;
}

.list input:checked~.task {
  text-decoration: line-through;
}

.todolists .list i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
  padding: 5px;
  opacity: 0.6;
  transition: all 0.3s ease;
  display: none;
}

.todolists .list:hover i {
  display: inline-flex;
}

.todolists .list i:hover {
  opacity: 1;
  cursor: pointer;
}

.container .pending-tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.pending-tasks span {
  color: #333;
}

.pending-tasks .clear-button {
  padding: 6px 12px;
  outline: none;
  border: none;
  background-color: #4070f4;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.clear-button:hover {
  background-color: #0e4bf1;
}