*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
:root{
  --dark:#34495E;
  --light:#ffffff;
  --success:#0ABF30;
  --error:#E24D4C;
  --warning:#E9BD0C;
  --info:#3498D8;
}
body{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:var(--dark) ;
}
.notification{
  position:fixed;
  top: 30px;
  right:20px;
}
.notification :where(.toast , .column){
  display: flex;
  align-items: center;
}
.notification .toast{
  position: relative;
  overflow: hidden;
  width:400px;
  list-style:none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast{
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-5%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.toast::before{
  position:absolute;
  content:"";
  width:100%;
  height:3px;
  bottom: 0;
  left: 0;
   animation: progress 5s linear forwards;
}
@keyframes progress {
  100%{
    width: 0%;
  }

}
.toast.success::before, .btn#success{
  background:var(--success);
}
.toast.error::before, .btn#error{
  background:var(--error);
}
.toast.warning::before, .btn#warning{
  background:var(--warning);
}
.toast.info::before, .btn#info{
  background:var(--info);
}
.toast.success .column i::before{
   color:var(--success);
}
.toast.error .column i::before{
  color:var(--error);
}
.toast.warning .column i::before{
    color:var(--warning);
}
.toast.info .column i::before{
  color:var(--info);
}
.toast .column i{
  font-size: 1.75rem;
}
.toast .column span{
  font-size: 1.07rem;
  margin-left:12px;
}
.toast i:last-child{
   color:#aeb0d7;
   cursor:pointer;
}
.toast i:last-child:hover{
  color:var(--dark);
}
.buttons .btn{
  border:none;
  outline:none;
  margin:0 5x;
  font-size: 1.2rem;
  color:#fff;
  padding:10px 20px;
  border-radius: 4px;
}